<a href="https://colab.research.google.com/github/GeorgeShibanin/Galaxy_masses_estimation/blob/main/HDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import matplotlib.pyplot as plt
from matplotlib import pyplot
import numpy as np
import seaborn as sns
import pandas as pd
import tensorflow.compat.v2 as tf
import tensorflow_probability as tfp
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from google.colab import drive
from sklearn.model_selection import train_test_split
from sklearn.metrics import max_error, mean_squared_error, explained_variance_score, mean_absolute_error, mean_squared_log_error, median_absolute_error, r2_score, mean_poisson_deviance, mean_gamma_deviance
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm_notebook
from xgboost import XGBRegressor
from sklearn.preprocessing import PolynomialFeatures

from sklearn.metrics.cluster import fowlkes_mallows_score
from sklearn.metrics.cluster import adjusted_rand_score
from sklearn.metrics.cluster import normalized_mutual_info_score

from astropy.coordinates import Distance
from astropy import units as u
from astropy.cosmology import Planck18_arXiv_v2

In [3]:
def set_settings():
    tf.enable_v2_behavior()
    sns.reset_defaults()
    sns.set_context(context='talk',font_scale=0.7)
    tfd = tfp.distributions

In [4]:
def mount():
    drive.mount('/content/drive')

In [5]:
def check_gpu_device():
    if tf.test.gpu_device_name() != '/device:GPU:0':
        print('WARNING: GPU device not found.')
    else:
        print('SUCCESS: Found GPU: {}'.format(tf.test.gpu_device_name()))

In [6]:
def prepare():
    set_settings()
    mount()
    check_gpu_device()

In [7]:
def load():
    data = pd.read_csv('drive/MyDrive/rcsed_z_less_03.csv')
    masses = pd.read_csv('drive/MyDrive/rcsed_z_less_03_logMstar_gal.csv')
    return data, masses

In [8]:
prepare()

Mounted at /content/drive
SUCCESS: Found GPU: /device:GPU:0

In [9]:
data, masses = load()

In [10]:
g = data['g']

In [11]:
kcorr_g = data['kcorr_g']

In [12]:
r = data['r']

In [13]:
kcorr_r = data['kcorr_r']

In [16]:
data

         Unnamed: 0  r2id_obj      ra_obj  ...  w3_err         w4  w4_err
0                11   4964732  119.429449  ...     NaN  15.125856     NaN
1                19   4984675  171.950334  ...   0.178  15.513918     NaN
2                21   4929008  229.317800  ...     NaN  15.222852     NaN
3                36   5085135    2.593309  ...     NaN  14.857815     NaN
4                40   4953301  223.510943  ...   0.029  13.848909   0.090
...             ...       ...         ...  ...     ...        ...     ...
1652055     4712456    882789   41.771824  ...     NaN        NaN     NaN
1652056     4712457   3809143    2.118993  ...   0.469  14.695871     NaN
1652057     4712458    862747   10.077710  ...     NaN        NaN     NaN
1652058     4712462   1260060  243.607075  ...   0.198  15.628917   0.341
1652059     4712463    662134  236.239167  ...     NaN  15.106893     NaN

[1652060 rows x 56 columns]

In [15]:
def prepare_data(data, masses):
    mask = ~masses['logMstar_gal'].isna()
    y = masses[mask]
    y = y.reset_index()
    y = y.drop(columns=['index'])
    data = data.drop(columns=['Unnamed: 0'])
    X = data[mask]
    X = X.reset_index()
    X = X.drop(columns=['index'])
    X = X.fillna(X.mean())
    return data, X, y, mask

In [19]:
def scale_data(X_train, X_test):
    scal = preprocessing.RobustScaler()
    X_train = scal.fit_transform(X_train)
    X_test = scal.transform(X_test)
    return X_train, X_test

In [17]:
data, X, y, mask = prepare_data(data, masses)

In [42]:
imp_data = data[['kcorr_g', 'w2']]

In [43]:
imp_data['ra_obj'] = data['ra_obj']
imp_data['dec_obj'] = data['dec_obj']
imp_data['z'] = data['z']
imp_data['redshift'] = data['redshift']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [23]:
!pip install hdbscan

Collecting hdbscan
  Downloading https://files.pythonhosted.org/packages/32/bb/59a75bc5ac66a9b4f9b8f979e4545af0e98bb1ca4e6ae96b3b956b554223/hdbscan-0.8.27.tar.gz (6.4MB)
     |████████████████████████████████| 6.4MB 7.3MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: cython>=0.27 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (0.29.23)
Requirement already satisfied: joblib>=1.0 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from hdbscan) (1.15.0)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (1.4.1)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from hdbscan) (1.19.5)
Building wheels for collected packages: hdbscan
  Building wheel for hdbscan (PEP 517) ... done
  Created wheel for hdbscan: filename=hdbscan-0.8.27-cp37-cp37m-linux_x86_64.whl size=2311695 sha256=602d614ad26f2dd2bc14de7c8ff1ed007f15fcc871de48f82601f487a6f7dcd1
  Stored in directory: /root/.cache/pip/wheels/42/63/fb/314ad6c3b270887a3ecb588b8e5aac50b0fad38ff89bb6dff2
Successfully built hdbscan
Installing collected packages: hdbscan
Successfully installed hdbscan-0.8.27

In [24]:
import hdbscan

In [25]:
def distance_to_center(x,y,z,label,centers):
  if(label==-1):
    return 0

  cluster=centers[int(label)]

  galaxy_coor=np.array([x,y,z])
  return np.linalg.norm(galaxy_coor-cluster)

def closest_center(x,y,z,search_tree):
  point=np.array([x,y,z])
  return search_tree.query(point)[1]

In [44]:
imp_data

          kcorr_g         w2      ra_obj    dec_obj          z  redshift
0        0.515064  17.720986  119.429449  52.995309  16.613500  0.169052
1        0.053598  18.739711  171.950334  34.842062  16.878486  0.042331
2        0.101875  16.903854  229.317800  10.181280  15.904148  0.059361
3       -0.029259  19.273824    2.593309  18.374851  19.933580  0.171086
4        0.139702  16.945460  223.510943  30.590311  16.847751  0.105039
...           ...        ...         ...        ...        ...       ...
1652055  0.608065  18.249756   41.771824 -26.326319  18.305663  0.039340
1652056  0.163659        NaN    2.118993  17.437530  15.273295  0.067905
1652057  0.870919  17.362712   10.077710 -29.285906  16.548414  0.264760
1652058  0.221352  16.726668  243.607075  52.124665  15.633123  0.089299
1652059  0.273458  18.380988  236.239167  35.202214  17.041413  0.115470

[1652060 rows x 6 columns]

In [45]:
#getting spherical coords and taking glaxies with labels 
data_np = imp_data
#ra_rec= imp_data['ra_obj']
#dec_rec=imp_data['dec_obj']
#z_rec= imp_data['z']

#spher_coords=pd.read_csv('drive/MyDrive/rcsed_z_less_03_iGrID.csv')['iGrID']
#spher_coords=spher_coords.dropna()

#data_np=pd.DataFrame(np.load('drive/MyDrive/ra_dec_z.npy'), columns=['ra','dec','z'])


#getting spherical coords and taking glaxies with labels 
ra_rec= (data_np.ra_obj-data_np.ra_obj.min()) / (data_np.ra_obj.max()-data_np.ra_obj.min()) * 2 * np.pi
dec_rec=((data_np.dec_obj-data_np.dec_obj.min()) / (data_np.dec_obj.max()-data_np.dec_obj.min()) * np.pi)
z_rec= data_np.z
spher_coords=pd.DataFrame({'phi':ra_rec,'omega':dec_rec,'z':z_rec})
spher_coords['labels']=pd.read_csv('drive/MyDrive/iGrID_rcsed_8_clean.csv')['iGrID']
spher_coords=spher_coords[spher_coords.labels.notna()]

In [38]:
imp_data

                w2      ra_obj    dec_obj          z  redshift
0        17.720986  119.429449  52.995309  16.613500  0.169052
1        18.739711  171.950334  34.842062  16.878486  0.042331
2        16.903854  229.317800  10.181280  15.904148  0.059361
3        19.273824    2.593309  18.374851  19.933580  0.171086
4        16.945460  223.510943  30.590311  16.847751  0.105039
...            ...         ...        ...        ...       ...
1652055  18.249756   41.771824 -26.326319  18.305663  0.039340
1652056        NaN    2.118993  17.437530  15.273295  0.067905
1652057  17.362712   10.077710 -29.285906  16.548414  0.264760
1652058  16.726668  243.607075  52.124665  15.633123  0.089299
1652059  18.380988  236.239167  35.202214  17.041413  0.115470

[1652060 rows x 5 columns]

In [46]:
#transform spherical coords to decart
x=spher_coords.z*np.sin(spher_coords.omega)*np.cos(spher_coords.phi)
y=spher_coords.z*np.sin(spher_coords.omega)*np.sin(spher_coords.phi)
z=spher_coords.z*np.cos(spher_coords.omega)
galaxies_with_labels=pd.DataFrame({'x':x,'y':y,'z':z, 'w2':imp_data['w2'], 'redshift':imp_data['redshift'], 'kcorr_g':imp_data['kcorr_g'], 'labels':spher_coords['labels']})

In [47]:
sample_galaxies=galaxies_with_labels.copy()

In [35]:
sample_galaxies = sample_galaxies[sample_galaxies['kcorr_g'].notna()]
sample_galaxies = sample_galaxies[sample_galaxies['w2'].notna()]

In [50]:
sample_galaxies = sample_galaxies.dropna()

In [51]:
sample_galaxies

                 x          y          z  ...  redshift   kcorr_g    labels
59       12.991335  13.588780  -0.329969  ...  0.128075 -0.002799   50126.0
62        9.224510  -5.861885  13.896884  ...  0.077080  0.010315  129111.0
72       -9.436226  14.418607  -1.134260  ...  0.240597  0.089759  212738.0
92      -13.750424 -12.965265   0.218196  ...  0.235120  0.840002   51045.0
99      -14.649813  -9.679444   1.265266  ...  0.136330  0.127370  203801.0
...            ...        ...        ...  ...       ...       ...       ...
1652040  16.058033   9.971290   1.886475  ...  0.138600  0.521290   85758.0
1652041  -8.185746  -5.029041 -12.713973  ...  0.082785  0.150567   55875.0
1652042  14.453764  -4.427546   9.150696  ...  0.081420  0.094957   62572.0
1652048 -13.890109  13.464372  -0.203613  ...  0.018770  1.220283  145300.0
1652057  14.179619   2.519974   8.150959  ...  0.264760  0.870919   29614.0

[112448 rows x 7 columns]

In [57]:
max_fms=0
log=[]
for i in range(2, 20,5):
  for j in range(1,10,2):
    for k in range(10, 300,50):
      clusterer = hdbscan.hdbscan_.HDBSCAN(min_cluster_size=i, #2,
                                         min_samples=j, #3,
                                         cluster_selection_epsilon=0.0,
                                         metric='euclidean',
                                         p=None,
                                         algorithm='boruvka_kdtree',   #'boruvka_kdtree', 
                                         leaf_size=k, #30,
                                         approx_min_span_tree=True,
                                         gen_min_span_tree=True,
                                         core_dist_n_jobs=4,
                                         cluster_selection_method='eom',
                                         allow_single_cluster=False,
                                         prediction_data=False,
                                         match_reference_implementation=False).fit(sample_galaxies.drop(columns=['labels']))
      labels = clusterer.labels_
 
      for l in range(len(labels)):
        if labels[l]==-1:
          labels[l]=l+5000000
 
      true = sample_galaxies.labels
      pred = labels
 
      fms = round(fowlkes_mallows_score(true, pred),5)
      ars = round(adjusted_rand_score(true, pred),5)
      if max_fms<fms:
        max_fms=fms
      log.append([i,j,k,fms,ars])
      print('min_cluster_size =', i, ', min_samples =', j, ', leaf_size =', k, ', fms =', fms, ', ars =', ars)

min_cluster_size = 2 , min_samples = 1 , leaf_size = 10 , fms = 0.0008 , ars = 0.00071
min_cluster_size = 2 , min_samples = 1 , leaf_size = 60 , fms = 0.0008 , ars = 0.00071
min_cluster_size = 2 , min_samples = 1 , leaf_size = 110 , fms = 0.0008 , ars = 0.00071
min_cluster_size = 2 , min_samples = 1 , leaf_size = 160 , fms = 0.0008 , ars = 0.00071
min_cluster_size = 2 , min_samples = 1 , leaf_size = 210 , fms = 0.0008 , ars = 0.00071
min_cluster_size = 2 , min_samples = 1 , leaf_size = 260 , fms = 0.0008 , ars = 0.00071
min_cluster_size = 2 , min_samples = 3 , leaf_size = 10 , fms = 0.00108 , ars = 0.00099
min_cluster_size = 2 , min_samples = 3 , leaf_size = 60 , fms = 0.00109 , ars = 0.00101
min_cluster_size = 2 , min_samples = 3 , leaf_size = 110 , fms = 0.00112 , ars = 0.00103
min_cluster_size = 2 , min_samples = 3 , leaf_size = 160 , fms = 0.00112 , ars = 0.00103
min_cluster_size = 2 , min_samples = 3 , leaf_size = 210 , fms = 0.00112 , ars = 0.00103
min_cluster_size = 2 , min_samples = 3 , leaf_size = 260 , fms = 0.00112 , ars = 0.00103
min_cluster_size = 2 , min_samples = 5 , leaf_size = 10 , fms = 0.00103 , ars = 0.00083
min_cluster_size = 2 , min_samples = 5 , leaf_size = 60 , fms = 0.00104 , ars = 0.00086
min_cluster_size = 2 , min_samples = 5 , leaf_size = 110 , fms = 0.00104 , ars = 0.00086
min_cluster_size = 2 , min_samples = 5 , leaf_size = 160 , fms = 0.00104 , ars = 0.00086
min_cluster_size = 2 , min_samples = 5 , leaf_size = 210 , fms = 0.00105 , ars = 0.00087
min_cluster_size = 2 , min_samples = 5 , leaf_size = 260 , fms = 0.00105 , ars = 0.00087
min_cluster_size = 2 , min_samples = 7 , leaf_size = 10 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 2 , min_samples = 7 , leaf_size = 60 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 2 , min_samples = 7 , leaf_size = 110 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 2 , min_samples = 7 , leaf_size = 160 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 2 , min_samples = 7 , leaf_size = 210 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 2 , min_samples = 7 , leaf_size = 260 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 2 , min_samples = 9 , leaf_size = 10 , fms = 0.00049 , ars = 4e-05
min_cluster_size = 2 , min_samples = 9 , leaf_size = 60 , fms = 0.00048 , ars = 3e-05
min_cluster_size = 2 , min_samples = 9 , leaf_size = 110 , fms = 0.00048 , ars = 3e-05
min_cluster_size = 2 , min_samples = 9 , leaf_size = 160 , fms = 0.00048 , ars = 3e-05
min_cluster_size = 2 , min_samples = 9 , leaf_size = 210 , fms = 0.00048 , ars = 3e-05
min_cluster_size = 2 , min_samples = 9 , leaf_size = 260 , fms = 0.00048 , ars = 3e-05
min_cluster_size = 7 , min_samples = 1 , leaf_size = 10 , fms = 0.00109 , ars = 0.00087
min_cluster_size = 7 , min_samples = 1 , leaf_size = 60 , fms = 0.00109 , ars = 0.00088
min_cluster_size = 7 , min_samples = 1 , leaf_size = 110 , fms = 0.0011 , ars = 0.00088
min_cluster_size = 7 , min_samples = 1 , leaf_size = 160 , fms = 0.0011 , ars = 0.00088
min_cluster_size = 7 , min_samples = 1 , leaf_size = 210 , fms = 0.0011 , ars = 0.00088
min_cluster_size = 7 , min_samples = 1 , leaf_size = 260 , fms = 0.0011 , ars = 0.00088
min_cluster_size = 7 , min_samples = 3 , leaf_size = 10 , fms = 0.00113 , ars = 0.00086
min_cluster_size = 7 , min_samples = 3 , leaf_size = 60 , fms = 0.00115 , ars = 0.00089
min_cluster_size = 7 , min_samples = 3 , leaf_size = 110 , fms = 0.00115 , ars = 0.0009
min_cluster_size = 7 , min_samples = 3 , leaf_size = 160 , fms = 0.00115 , ars = 0.0009
min_cluster_size = 7 , min_samples = 3 , leaf_size = 210 , fms = 0.00115 , ars = 0.00089
min_cluster_size = 7 , min_samples = 3 , leaf_size = 260 , fms = 0.00115 , ars = 0.00089
min_cluster_size = 7 , min_samples = 5 , leaf_size = 10 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 5 , leaf_size = 60 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 5 , leaf_size = 110 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 5 , leaf_size = 160 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 5 , leaf_size = 210 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 5 , leaf_size = 260 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 7 , leaf_size = 10 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 7 , leaf_size = 60 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 7 , leaf_size = 110 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 7 , leaf_size = 160 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 7 , leaf_size = 210 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 7 , leaf_size = 260 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 9 , leaf_size = 10 , fms = 0.00049 , ars = 4e-05
min_cluster_size = 7 , min_samples = 9 , leaf_size = 60 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 9 , leaf_size = 110 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 9 , leaf_size = 160 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 9 , leaf_size = 210 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 7 , min_samples = 9 , leaf_size = 260 , fms = 0.00048 , ars = 4e-05
min_cluster_size = 12 , min_samples = 1 , leaf_size = 10 , fms = 0.00107 , ars = 0.00067
min_cluster_size = 12 , min_samples = 1 , leaf_size = 60 , fms = 0.00108 , ars = 0.0007
min_cluster_size = 12 , min_samples = 1 , leaf_size = 110 , fms = 0.00108 , ars = 0.0007
min_cluster_size = 12 , min_samples = 1 , leaf_size = 160 , fms = 0.00108 , ars = 0.0007
min_cluster_size = 12 , min_samples = 1 , leaf_size = 210 , fms = 0.00108 , ars = 0.0007
min_cluster_size = 12 , min_samples = 1 , leaf_size = 260 , fms = 0.00108 , ars = 0.0007
min_cluster_size = 12 , min_samples = 3 , leaf_size = 10 , fms = 0.00104 , ars = 0.00064
min_cluster_size = 12 , min_samples = 3 , leaf_size = 60 , fms = 0.00104 , ars = 0.00065
min_cluster_size = 12 , min_samples = 3 , leaf_size = 110 , fms = 0.00104 , ars = 0.00066
min_cluster_size = 12 , min_samples = 3 , leaf_size = 160 , fms = 0.00104 , ars = 0.00066
min_cluster_size = 12 , min_samples = 3 , leaf_size = 210 , fms = 0.00104 , ars = 0.00066
min_cluster_size = 12 , min_samples = 3 , leaf_size = 260 , fms = 0.00104 , ars = 0.00066
min_cluster_size = 12 , min_samples = 5 , leaf_size = 10 , fms = 0.00051 , ars = 4e-05
min_cluster_size = 12 , min_samples = 5 , leaf_size = 60 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 5 , leaf_size = 110 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 5 , leaf_size = 160 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 5 , leaf_size = 210 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 5 , leaf_size = 260 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 7 , leaf_size = 10 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 7 , leaf_size = 60 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 7 , leaf_size = 110 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 7 , leaf_size = 160 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 7 , leaf_size = 210 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 7 , leaf_size = 260 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 12 , min_samples = 9 , leaf_size = 10 , fms = 0.00051 , ars = 4e-05
min_cluster_size = 12 , min_samples = 9 , leaf_size = 60 , fms = 0.00053 , ars = 4e-05
min_cluster_size = 12 , min_samples = 9 , leaf_size = 110 , fms = 0.00053 , ars = 4e-05
min_cluster_size = 12 , min_samples = 9 , leaf_size = 160 , fms = 0.00053 , ars = 4e-05
min_cluster_size = 12 , min_samples = 9 , leaf_size = 210 , fms = 0.00053 , ars = 4e-05
min_cluster_size = 12 , min_samples = 9 , leaf_size = 260 , fms = 0.00053 , ars = 4e-05
min_cluster_size = 17 , min_samples = 1 , leaf_size = 10 , fms = 0.001 , ars = 0.00052
min_cluster_size = 17 , min_samples = 1 , leaf_size = 60 , fms = 0.00102 , ars = 0.00056
min_cluster_size = 17 , min_samples = 1 , leaf_size = 110 , fms = 0.00102 , ars = 0.00055
min_cluster_size = 17 , min_samples = 1 , leaf_size = 160 , fms = 0.00102 , ars = 0.00055
min_cluster_size = 17 , min_samples = 1 , leaf_size = 210 , fms = 0.00103 , ars = 0.00056
min_cluster_size = 17 , min_samples = 1 , leaf_size = 260 , fms = 0.00103 , ars = 0.00056
min_cluster_size = 17 , min_samples = 3 , leaf_size = 10 , fms = 0.00103 , ars = 0.00054
min_cluster_size = 17 , min_samples = 3 , leaf_size = 60 , fms = 0.0009 , ars = 0.00034
min_cluster_size = 17 , min_samples = 3 , leaf_size = 110 , fms = 0.00089 , ars = 0.00034
min_cluster_size = 17 , min_samples = 3 , leaf_size = 160 , fms = 0.00089 , ars = 0.00034
min_cluster_size = 17 , min_samples = 3 , leaf_size = 210 , fms = 0.0009 , ars = 0.00035
min_cluster_size = 17 , min_samples = 3 , leaf_size = 260 , fms = 0.0009 , ars = 0.00035
min_cluster_size = 17 , min_samples = 5 , leaf_size = 10 , fms = 0.00056 , ars = 4e-05
min_cluster_size = 17 , min_samples = 5 , leaf_size = 60 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 5 , leaf_size = 110 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 5 , leaf_size = 160 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 5 , leaf_size = 210 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 5 , leaf_size = 260 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 7 , leaf_size = 10 , fms = 0.00056 , ars = 4e-05
min_cluster_size = 17 , min_samples = 7 , leaf_size = 60 , fms = 0.00056 , ars = 4e-05
min_cluster_size = 17 , min_samples = 7 , leaf_size = 110 , fms = 0.00056 , ars = 4e-05
min_cluster_size = 17 , min_samples = 7 , leaf_size = 160 , fms = 0.00056 , ars = 4e-05
min_cluster_size = 17 , min_samples = 7 , leaf_size = 210 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 7 , leaf_size = 260 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 9 , leaf_size = 10 , fms = 0.00059 , ars = 5e-05
min_cluster_size = 17 , min_samples = 9 , leaf_size = 60 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 17 , min_samples = 9 , leaf_size = 110 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 9 , leaf_size = 160 , fms = 0.00055 , ars = 4e-05
min_cluster_size = 17 , min_samples = 9 , leaf_size = 210 , fms = 0.00054 , ars = 4e-05
min_cluster_size = 17 , min_samples = 9 , leaf_size = 260 , fms = 0.00054 , ars = 4e-05